.idea
.ipynb
.DS_Store
.ipynb_checkpoints/
__pycache__
*.pyc
*.hkl
*.mat
.Trash-0
__dump__
__temp__
__res__
__log__
pde_data
__res*
DRC-pde-data
load3D.py
load.py
test_HOGP.ipynb
pde_data
data/pred
test_DMFAL.ipynb
test_DRC.ipynb
test_MFHOGP.ipynb
test_SGPGN.ipynb